body {
    font-family: "Roboto Slab", serif;
    font-weight: normal;
}

/* IndexHeader */
.headerImage {
    position: relative;
}

.text-block {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 50%;
    background-color: #ffffff50;
    color: white;
    padding: 2%
}

/* Navbar */
.nav-link,
.navbar-nav li,
.dropdown-item {
    font-size: 1.5vw;
    font-weight: 400;
}

.navbar img {
    margin-left: 1rem;
}

.navbar-toggler {
    margin-right: 1rem;
}

.formInput {
    font-size: 1.3rem;
}

#infoText {
    font-size: 0.8rem;
}

label img:hover {
    opacity: 50%;
}

/* Radio Selection */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* Radio Images */
[type=radio]+img {
    cursor: pointer;
    outline: 1px solid #e0e0e0e8;
}

/* Radio Checked */
[type=radio]:checked+img {
    transform: revert;
    outline: 1px solid #000;
    background-color: #bbdefb;
}

.img-fluid {
    margin-bottom: 0.5rem;
}

/* Header Colors */
.custContainer {
    background-color: #FFCDD2;
}

.hireContainer {
    background-color: #d1ffcd;
}

.outfitContainer {
    background-color: #bbdefb;
}

.extrasContainer {
    background-color: #fbd5bb;
}

.sizesContainer {
    background-color: #f8bbfb;
}

h1 {
    font-size: 2.5vw;
}

h2 {
    font-size: 2vw;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.5vw;
}

p {
    font-size: 1vw;
}

label {
    font-size: 1.3vw;
    cursor: pointer;
}

[type=checkbox] {
    display: none;
}

.extrasSelector {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    cursor: pointer;
    outline: 1px solid #e0e0e0e8;
}

[type=checkbox]:checked+label {
    transform: revert;
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: #fbd5bb;
}

/* Table */
.tNA {
    background-color: #d5d5d5 !important;
}

.tBlank {
    border-left-style: hidden;
    border-right-style: hidden;
}

.table {
    border: 1px solid #000;
    font-size: 1.1vw;
    margin-bottom: 0;
}

/* Youtube Logo */
#ytText {
    color: #000;
    text-decoration: none;
}

#ytText:hover {
    opacity: 50%;
}

/* Footer */
#footerEmail {
    text-align: right;
}

/* Page Links */
#hireDetails,
#custDetails,
#extras,
#sizes,
#submit,
#outfitKilt,
#outfitJacket,
#outfitSporran,
#outfitShoes,
#outfitSocks,
#outfitFlashes,
#outfitTies {
    scroll-margin-top: 90px;
}

.infoTable {
    background-color: #f9c2fc79;
}