body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Navbar */
.nav-link,
.navbar-nav li,
.dropdown-item {
    font-size: 1.5vw;
    font-weight: 400;
    color: #000
}

.navbar img {
    margin-left: 1rem;
}

.navbar-toggler {
    margin-right: 1rem;
}

.formInput {
    font-size: 1.3rem;
}

/* HEADER */
.headerImage {
    background-image: url("html-portfolio/images/misc/priceHeaderImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.text-block {
    background-color: #ffffff50;
    color: #ffffff;
    text-align: center;
    margin: 5%;
    padding: 1%;
    width: 60vw;
}

.text-block button {
    margin: 2%;
}

/* QUOTE BAR */

#runningTotal {
    font-size: 2.5rem;
}

#quoteText {
    font-size: 1rem;
}


/* RESPONSIVE MEDIA QUERIES */
@media (max-width:576px) {
    .headerText {
        font-size: 0.8rem;
    }

    .buttonText {
        font-size: 1.4rem;
    }

    #quoteBar {
        position: fixed;
        background-color: #ffffffd8;
        right: 10%;
        bottom: 1%;
        width: 80%;
        height: 5rem;
        text-align: center;
    }
}

@media (min-width: 577px) and (max-width:768px) {
    .headerText {
        font-size: 1.2rem;
    }

    .buttonText {
        font-size: 1.8rem;
    }

    #quoteBar {
        position: fixed;
        background-color: #ffffffd8;
        right: 10%;
        bottom: 1%;
        width: 80%;
        height: 5rem;
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width:992px) {
    h3 {
        font-size: 2.5vw;
    }

    h4 {
        font-size: 2vw;
    }

    .headerText {
        font-size: 1.6rem;
    }

    .buttonText {
        font-size: 2.2rem;
    }

    #quoteBar {
        position: fixed;
        background-color: #ffffffd8;
        right: 1%;
        bottom: 1%;
        width: 25%;
        height: 5rem;
        text-align: center;
    }

}

@media (min-width: 993px) and (max-width:1200px) {
    .headerText {
        font-size: 2rem;
    }

    .buttonText {
        font-size: 2.6rem;
    }

    #quoteBar {
        position: fixed;
        background-color: #ffffffd8;
        right: 1%;
        bottom: 1%;
        width: 16.6%;
        height: 5rem;
        text-align: center;
    }
}

@media (min-width:1201px) {
    .headerText {
        font-size: 2.4rem;
    }

    .buttonText {
        font-size: 3rem;
    }

    #quoteBar {
        position: fixed;
        background-color: #ffffffd8;
        right: 1%;
        bottom: 1%;
        width: 16.3%;
        height: 5rem;
        text-align: center;
    }
}

/* Page Links */

#fullHire,
#kiltOnly,
#jacketOnly,
#accessoriesOnly,
#quote,
#standardOutfits,
#premiumOutfits,
#hatOutfits {
    scroll-margin-top: 84px;
}

.sideBarText {
    position: sticky;
    top: 11%;
}

.sideBarTextHeader {
    font-weight: 700;
}

.sideBarText li {
    text-align: left;
    list-style: none;

}

.sideBarText a {
    color: #000;
    text-decoration: none;
}

.sideBarText a:hover {
    list-style: none;
    cursor: pointer;
    color: #002fffec;
}

.topMenu {
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.smallMenu {
    position: sticky;
    top: 12%;
}

.backToTop {
    position: fixed;
    bottom: 0%;
    right: 3%;
    color: #000;
}
